/* Padding Titulo h4 p-3 */
.p-2 {
    padding: $spacer !important;
}

/* CARDS 3D*/
.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    /* Sombra card */ box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

/* BODY background color*/
    body {
        background-color: #eee;
      }

      

/*USUÁRIO & FOTO-PERFIL*/
.user{
      position: fixed;
      right: 10px;
      padding: 20px;
}
.user span{
      font-weight: bold;
      width: 35px;
      height: 35px;
}
.user img {
      width: 40px;
}

/*Botão flutunte LOGOTIPO | MARCA D'ÁGUA*/
.logo img {
      width: 120px;
      position: fixed;
      right: 10px;
      bottom: 10px;
      z-index: 999;
      padding: 5px;
}
/*Fim botão flutuante*/


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
      :root {
      --header-height: 3rem;
      --nav-width: 68px;
      --first-color: #118f45; /* COR VERDE LOGO */
      --first-color-light: #AFA5D9;
      --white-color: #F7F6FB;
      --nav-color: #4c9f71; /* COR AZUL LOGO */
      --body-font: 'Nunito', sans-serif;
      --normal-font-size: 1rem;
      --z-fixed: 100
      }
      *,
      ::before,
      ::after {
      box-sizing: border-box
      }
      body {
      position: relative;
      margin: var(--header-height) 0 0 0;
      padding: 0 1rem;
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      transition: .1s
      }
      a {
      text-decoration: none
      }
      .header {
      width: 100%;
      height: var(--header-height);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      background-color: var(--nav-color);
      z-index: var(--z-fixed);
      transition: .1s
      }
      .header_toggle {
      color: var(--first-color);
      font-size: 1.5rem;
      cursor: pointer
      }
      .header_img {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden
      }
      .header_img img {
      width: 40px
      }
      .l-navbar {
      position: fixed;
      top: 0;
      left: -30%;
      width: var(--nav-width);
      height: 100vh;
      background-color: var(--first-color);
      padding: .5rem 1rem 0 0;
      transition: .1s;
      z-index: var(--z-fixed)
      }
      .nav {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden
      }
      .nav_logo,
      .nav_link {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 1rem;
      padding: .5rem 0 .5rem 1.5rem
      }
      .nav_logo {
      margin-bottom: 2rem
      }
      .nav_logo-icon {
      font-size: 1.25rem;
      color: var(--white-color)
      }
      .nav_logo-name {
      color: var(--white-color);
      font-weight: 700
      }
      .nav_link {
      position: relative;
      color: var(--first-color-light);
      margin-bottom: 1.5rem;
      transition: .1s
      }
      .nav_link:hover {
      color: var(--white-color)
      }
      .nav_icon {
      font-size: 1.25rem
      }
      .show {
      left: 0
      }
      .body-pd {
      padding-left: calc(var(--nav-width) + 1rem)
      }
      .active {
      color: var(--white-color)
      }
      .active::before {
      content: '';
      position: absolute;
      left: 0;
      width: 2px;
      height: 32px;
      background-color: var(--white-color)
      }
      .height-100 {
      height: 100vh
      }
      @media screen and (min-width: 768px) {
      body {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem)
      }
      .header {
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
      }
      .header_img {
      width: 40px;
      height: 40px
      }
      .header_img img {
      width: 45px
      }
      .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0
      }
      .show {
      width: calc(var(--nav-width) + 156px)
      }
      .body-pd {
      padding-left: calc(var(--nav-width) + 188px)
      }
      }